<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>小插件</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id='app'>
		<input type="text" v-model='addValue'  @keyup.enter.exact="addTodo">
	            <li-todo :li-val='addArr'></li-todo>
	            <base-checkbox v-model='lovingVue'></base-checkbox>
	            {{lovingVue}}
	</div>
</body>
<script type="text/javascript">
	Vue.component('base-checkbox',{
		model:{
			prop:'checked',
			event:'change'
		},
		props:{
			checked:Boolean
		},
		template:`<input  
		type='checkbox' 
		:value='checked'
		@change="$emit('change',$event.target.checked)"
		>`
	})
	Vue.component('li-todo',{
	       props:['liVal'],
                   template:"<ul><li \
                   v-for='(val,index) in liVal' :key='val.id'>\
                   {{val.value}}\
                   <button @click='liVal.splice(index,1)'>X</button>\
                   </li></ul>"
	});
	var vm = new Vue({
		el:"#app",
		data:{
			addValue:"",
			addArr:[],
			id:0,
			searchText:'',
			lovingVue:true
		},
                        methods:{
                        	    addTodo:function(){
                        	    	 this.id+1;
                                      this.addArr.push({id:this.id,value:this.addValue});
                                      this.addValue = '';
                        	    }
                        }
	})
</script>
</html>